/*
  Evan MacHale - N00150552
  01.04.19
  App.scss
*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500');

// @import '@material/typography/mdc-typography';
@import '@material/react-typography/index.scss';
@import '@material/react-layout-grid/index.scss';

// fonts
$plex-sans-serif: 'IBM Plex Sans', sans-serif;
$plex-mono: 'IBM Plex Mono', monospace;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colours
$dark-grey: #333447;
$dark-gray: #333447; // for the Yanks
$black: #151515;

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
}

a:hover {
  cursor: pointer;
}

* {
  color: $black;
  line-height: 1.3;
  font-family: $plex-mono;
  font-weight: 100;
}

// typography

.mdc-typography,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--subtitle1,
.mdc-typography--subtitle2,
.mdc-typography--caption,
.mdc-typography--button,
.mdc-typography--overline {
  font-family: $plex-sans-serif;
  line-height: 1.3;
}

.mdc-typography--body1 {
  font-family: $plex-mono;
}

.blue {
  color: #0D1EEC;
}

/*
  Banner + Title
*/

.sketch {
  height: 100vh;
  // width: 100vw;
  padding: 0rem;
  background-color: #151515;
}

.title {
  font-weight: 300;
  line-height: 1.3;
  font-family: $plex-sans-serif;
}

i {
  font-weight: inherit;
  font-family: inherit;
}

.underline, .underline b {
  font-family: $plex-sans-serif;
  font-weight: 300;
}

.title-link {
  border-bottom: solid 3px;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.title-link:hover, .visit:hover, .footer-link:hover {
  color: blue;
}

/*
  Showcase sections
*/

aside {
  font-family: $plex-mono;
  font-weight: 300;
  color: blue;
}

.showcase-titles {
  font-family: $plex-sans-serif;
  font-weight: 400;
}

.showcase-titles span {
  font-family: $plex-sans-serif;
  font-weight: 300;
  color: #666666
}

.section {
  padding-bottom: 5rem;
  padding-top: 10rem;
}

.visit {
  font-family: $plex-sans-serif;
  font-size: 2rem;
  font-weight: normal;
  border-bottom: solid 2px;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

// Custom

.sketch-grid {
  padding: 0rem;
}

.sketch-grid-bottom {
  padding-bottom: 20rem;
}

.img {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}

.bookstore {
  border: 2px solid;
}

.iframe {
  margin-top: 5rem;
  height: 75vh;
  width: 100%;
}

.footer {
  height:100vh;
  padding-top: 5rem;
}

.footer-content {
  padding-top: 10rem;
}

@media screen and (max-width: 768px) {
  .title {
    line-height: 45px;
    font-size: 35px;
    margin-bottom: 10vh;
  }
  .title-link {
    border-bottom: solid 2px;
    color: blue;
  }
  .subtitle {
    margin-bottom: 25vh;
  }
  .heading {
    padding-top: 2vh;
  }
  .footer p {
    // line-height: 35px;
    font-size: 30px;
  }
}
